---
layout: default
---

<div class="home">
<div class="term-block">
<span class="term-red"> $ </span>cowsay something nice about me

 ______________________
&lt; Hi, I'm <span class="term-red">Caleb Foust</span>. &gt;
 ----------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||

<span class="term-red"> $ </span>caleb-foust --version
CFIM - Caleb Foust IMproved {{ site.time | date: '%Y.%m.%d' }}
status: ???
<span class="term-red"> $ </span>ls -l me/
<a href="https://www.linkedin.com/in/caleb-foust/">linked-in.html</a>
{% include posts.html %}
</div>
</div>
